@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}
.d-flex {
  flex-wrap: wrap;
}
.post-card {
  flex: 0 0 fit-content;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: 250px;
  height: auto;
  margin: 20px;
  inline-size: 150px;
  overflow-wrap: break-word;
}
.post-card-image {
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: 20px;
  margin-top: 20px;
}
