@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Gloria+Hallelujah&family=Indie+Flower&family=Shadows+Into+Light&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Amatic SC', cursive;
  height: 100%;
  padding: 0;
  margin: 0;
  background: url(/corkboard.png) no-repeat center center fixed !important;
  -webkit-background-size: cover !important; /* For WebKit*/
  -moz-background-size: cover !important;    /* Mozilla*/
  -o-background-size: cover !important;      /* Opera*/
  background-size: cover !important;   
}

a {
  color: inherit;
  text-decoration: none;
}

* {
   box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
}

body {
  background-color: #88effd;
}
.navbar-wrapper > .container-fluid {   	padding-right: 0;   	padding-left: 0; }
.d-flex {
  flex-wrap: wrap;
}
.post-card {
  flex: 0 0 fit-content !important;
  flex-wrap: wrap !important;
  justify-content: flex-start !important;
  min-width: 375px !important;
  height: auto !important;
  margin: 20px 5px 20px 0px !important;
  inline-size: 150px !important;
  overflow-wrap: break-word !important;
  background: 0 !important;
  border: 0 !important;
}
.post-details-card{
  flex-wrap: wrap !important;
  min-width: 25rem !important;
  background: 0 !important;
  border: 0 !important;
 float:left;
 padding: 0px;
}
.post-card-image-details{
  object-fit: cover !important;
  border-radius: 55 !important;
  width: 17rem !important;
  /* height: 23rem !important; */
  margin-top: auto;
  margin-top: 3.5rem !important;
  margin-left: 2.7rem !important;
  border: 0 !important;
  transform: rotate(-3deg);
  box-sizing: border-box;
}

.post-card-image {
  object-fit: cover !important;
  border-radius: 55 !important;
  width: 18rem !important;
  height: 10rem !important;
  margin-top: 22px !important;
  margin-right: 1.5rem !important;
  border: 0 !important;
}
.info-post-card-left{
  float:left !important;
  flex-wrap: wrap !important;
  background: #00d7fdb6 !important;
  border: 0 !important;
   width: 50% !important;
  margin-top: 1rem;
  box-sizing: border-box;
}
.info-post-card-right{
  min-width: 10rem !important;
  width: 15rem !important;
  height: auto !important;
  background: #00d7fdb6 !important;
  border: 0 !important;
  margin-top: 5rem;
  box-sizing: border-box;
}
.various-details{
  background: #00d7fdb6 !important;
  border: 0 !important;
   width: 100% !important;
   padding: 1.5rem;
   border-radius: 20px;
   color: rgb(75, 78, 81);
   margin-top: 1em;
}
@media only screen and (max-width: 600px) {
  .post-card-image-details {
    width: 16.5rem !important;
    margin-top: 3.5rem !important;
    margin-left: 1.8rem !important;
  }
  .post-details-card{
    min-width: 24rem !important;
  }
  .info-post-card-left{
    width: 23rem !important;
  }
}
.trade-card {
  flex: 0 0 fit-content !important;
  flex-wrap: wrap !important;
  min-width: 180px !important;
  justify-content: flex-start !important;
  margin: 20px !important;
  overflow-wrap: break-word !important;
  background: 0 !important;
  border: 0 !important;
}
.trade-card-select {
  flex: 0 0 fit-content !important;
  flex-wrap: wrap !important;
  justify-content: flex-start !important;
  min-width: 375px !important;
  height: auto !important;
  margin: 20px !important;
  /* inline-size: 150px !important; */
  overflow-wrap: break-word !important;
  background: 0 !important;
  border: 0 !important;
}
.trade-card-profile {
  flex: 0 0 fit-content !important;
  flex-wrap: wrap !important;
  justify-content: flex-start !important;
  min-width: 250px !important;
  height: auto !important;
  margin: 20px !important;
  inline-size: 150px !important;
  overflow-wrap: break-word !important;
  background: 0 !important;
  border: 0 !important;
}
.trade-form-current{
 width: 50% !important;
 margin-top: 6rem !important;
 float:left;
}
.trade-form-pending{
 width: 50% !important;
 float:left !important;
}
.all-my-form-input {
  color: slategrey !important;
  background: #c4ffd9 !important;
  font-family: 'Amatic SC', cursive;
}
.all-my-form-labels{
  color: slategrey !important;
  font-family: 'Amatic SC', cursive;
}
.form-titles{
  color: aqua;
  font-family: 'Amatic SC', cursive;
}
.my-post-info-buttons {
  background: rgb(143, 68, 255) !important;
  border:rgb(143, 68, 255) !important;
  margin: 2px !important;
  color: white !important;
}
.my-buttons {
  background: rgb(143, 68, 255) !important;
  border:rgb(143, 68, 255) !important;
  margin: 30px !important;
  color: white !important;
}
.profile-buttons{
  background: rgb(143, 68, 255) !important;
  border:rgb(143, 68, 255) !important;
  color: white !important;
  margin: 1rem;
}
